################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Занятие номер 5/Домашнее задание/Dual_hamming_simplex/.vs/Dual_hamming_simplex
.vs/
x64/
Debug/
Release/
*.user
*.VC.db
*.opendb