################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Занятие номер 5/Домашнее задание/Dual_hamming_simplex/.vs/Dual_hamming_simplex
